<!DOCTYPE html>
<html>
<head>
    <title>ASU VIPLE Unity Simulator Sessions Viewer</title>
    <!-- <link rel="stylesheet" href="style/main.css" type="text/css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.min.css" type="text/css"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <style>
        body {
            margin-top: 80px;
        }
    </style>

</head>
<!-- <body onload="drawVisualization();"> -->
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">ASU VIPLE Unity Simulator Sessions Viewer</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active mr-auto">
                <a class="nav-link" href="index.html">Back<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="name nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Account Settings</a>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>


<div class="container">
<h3>Session Details</h3>
<div id="content" class="row">
<div class="col-sm-6 my-4" id="mygraph"></div>
</div>

</body>

<script src="/_utils/script/sha1.js"></script>
<script src="/_utils/script/json2.js"></script>
<script src="/_utils/script/jquery.js"></script>
<script src="/_utils/script/jquery.couch.js"></script>
<script src="vendor/couchapp/jquery.couchLogin.js"></script>
<script src="vendor/couchapp/jquery.couchProfile.js"></script>
<script src="vendor/couchapp/md5.js"></script>
<script src="vendor/couchapp/jquery.mustache.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.min.js"></script>
<!-- templates used by app.js -->
<script id="new-message" type="text/x-mustache" charset="utf-8">
<div style="clear:left;"></div>

</script>
<script id="recent-messages" type="text/x-mustache" charset="utf-8">

{{#items}}
    <div class="col-sm-6 my-4">
        <div class="card">
            <img class="card-img-top col-sm-6 mt-3" src="https://maps.googleapis.com/maps/api/staticmap?center={{latitude}}, {{longitude}}&zoom=10&size=300x300&key=AIzaSyB0OpNT1cB2aFb2tMDrfSgrIW2XWuE8Wfk" alt="Client location">
            <div class="card-block">
                <small class="card-title">Client {{clientid}}</small>
                <table class="table">
                    <tr><th>Session ID</th><td>{{sessionid}}</td></tr>
                    <tr><th>IP Address</th><td>{{ipaddress}}</td></tr>
                    <tr><th>Location</th><td>{{location}}</td></tr>
                    <tr><th>Launch Time</th><td>{{time}}</td></tr>
                    <tr><th>OS</th><td>{{os}}</td></tr>
                    <tr><th>Device Type</th><td>{{devicetype}}</td></tr>
                    <tr><th>GPU</th><td>{{graphicsdevicename}}</td></tr>
                    <tr><th>GPU Version</th><td>{{graphicsdeviceversion}}</td></tr>
                    <tr><th>CPU</th><td>{{processor}}</td></tr>
                    <tr><th>Processor Count</th><td>{{processorcount}}</td></tr>
                    <tr><th>System Memory</th><td>{{systemmemory}}</td></tr>
                </table>
            </div>
        </div>
    </div>
{{/items}}
  

</script>

<script src="script/detail.js"></script>
</html>
